# Postgres Database (via Supabase) 
DB_DSN=postgresql://username:password@localhost:5432/postgres
DB_HOST=localhost
DB_USER=username
DB_PASSWORD=password
DB_DBNAME=postgres
DB_PORT=5432

# MailerSend
MAILER_SEND_API_KEY=mlsn.1
MAILER_EMAIL_DOMAIN=test-xxx.mlsender.net
MAILER_EMAIL_USERNAME=Hunger4Data-notification

# Stripe
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_
