GRPC_PORT=50052
DB_DSN=postgresql://devuser:devpass@localhost:5432/devdb
MAILER_HOST=smtp.gmail.com
MAILER_PORT=465
MAILER_LOGIN=
MAILER_PASSWORD=
MAILER_USERNAME=Hunger4Data-no-reply
MAILER_EMAIL=
