# Ports
GRPC_PORT=50051

# Postgres Database (via Supabase) 
DB_DSN=postgresql://username:password@localhost:5432/postgres

# Jwt Token
JWT_SECRET=change-this-super-secret-but-insecure-key
JWT_DURATION=60m

# Services
GRPC_ADDR_NOTIFICATION=:50052
