# Postgres Database (via Supabase) 
DB_DSN=
# MailerSend
MAILER_SEND_API_KEY=mlsn
MAILER_EMAIL_DOMAIN=test
MAILER_EMAIL_USERNAME=Hunger4Data-notification

# Stripe
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_

# Jwt Token
JWT_SECRET=change-this-super-secret-but-insecure-key
JWT_DURATION=60m

# Redis
REDIS_ADDR=localhost:6379

# Services
AUTH_GRPC_PORT=50051
AUTH_REST_PORT=8080

NOTIFICATION_GRPC_PORT=50052

PAYMENT_GRPC_PORT=50053
PAYMENT_WEBHOOK_PORT=3000

SUBSCRIPTION_GRPC_PORT=50054
SUBSCRIPTION_REST_PORT=8081
