WEBHOOK_PORT=3000
GRPC_PORT=50001

DB_DSN=postgresql://postgres.eaqcikpzcxegmynnpmqs:QxDounwxd2nfPB43@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require
DB_HOST=aws-1-ap-southeast-2.pooler.supabase.com
DB_USER=postgres.eaqcikpzcxegmynnpmqs
DB_PASSWORD=QxDounwxd2nfPB43
DB_DBNAME=postgres
DB_PORT=5432


