# Ports
WEBHOOK_PORT=3000
GRPC_PORT=50053

# Postgres Database (via Supabase) 
DB_DSN=postgresql://username:password@localhost:5432/postgres

# Stripe
STRIPE_SECRET_KEY=sk_test_
STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOK_SECRET=whsec_
